.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 11px 16px;
  height: 46px;
  width: 100%;
  background: #e26559;
  margin-top: 30px;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  transition-duration: 200ms;

  &:hover {
    background: #b55147;
  }

  &:active {
    background: #883d35;
  }
}

.disabledButton {
  @extend .button;
  opacity: 0.4;
  transition-duration: 200ms;
  cursor: not-allowed;
}
